.wrapper {
    text-align: center;
    background-color: $color-bg-2;
    padding: $input-horizontal-padding 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
    border: 2px solid $border-color;
    font-size: 20px;
    box-sizing: border-box;
    min-height: 46px;

    &:not(:last-of-type) {
        margin-bottom: 4px;
    }

    &:hover {
        background-color: $color-hover;
    }
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
    z-index: 0;

    &.first {
        background-color: $color-tertiary;
    }

    &.second {
        background-color: $color-secondary;
    }

    &.third {
        background-color: $color-primary;
    }
}

.text {
    position: relative;
    z-index: 2;
}
