.label {
    min-width: max-content;
    align-self: center;
    font-size: 17px;
    text-align: right;

    &.start {
        align-self: flex-start;
        padding-top: 15px;
    }
}

.percent {
    display: inline-block;
    min-width: 55px;
    text-align: right;
}

.line {
    display: grid;
    align-items: center;
    gap: 8px;
    min-width: 100%;

    &.with-button {
        grid-template-columns: 1fr max-content;
    }

    &.levels {
        .input {
            grid-column: 1 / 3;
        }
    }
}
