$viewport-padding: 12px;

$border-color: #000;
$input-horizontal-padding: 10px;
$input-height: 50px;

$text-font-family: "Roboto Slab", serif;
$head-font-family: "Unbounded", sans-serif;

$color-bg-1: #faebd7;
$color-bg-2: #fff;
$color-text: #000;
$color-text-light: #fff;
$color-hover: #ececec;
$color-primary: #bcff93;
$color-secondary: #fcff74;
$color-tertiary: #ffd430;
$color-quaternary: #3c6dff;
$danger-color-lvl0: #f7c6c6;
$danger-color-lvl1: #dc362e;

$popup-height: 50vh;
