.wrapper {
    padding: $viewport-padding;
}

.button {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    font-family: $head-font-family;
    font-size: 18px;
    gap: 40px;
    text-align: left;

    &:not(:last-of-type) {
        margin-bottom: $viewport-padding;
    }
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
