$gap: 20px;

.wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100vw;
    max-height: $popup-height;
    overflow-y: scroll;
    overflow-x: hidden;
    border-width: 0;
    border-top: 3px solid $border-color;
    border-right: 3px solid $border-color;
    border-left: 3px solid $border-color;
    box-sizing: border-box;
    background-color: $color-bg-1;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
}

.fields {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-self: flex-start;
    flex: 0 1 calc(50% - calc($gap / 2));
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex: 0 1 100%;
}

.button {
    display: block;
    flex: 0 1 49%;
    background-color: $color-bg-1;
    align-self: flex-end;
}
